.bg{
    background-color: rgb(12, 59, 92);
}

.contsint{
  margin-left: 100px;
  margin-right: 100px; 
  background-color: rgb(179, 197, 248);
}

.slideshow-container{
    max-width: 1100px;
    position: relative;
    margin: auto;
    height: 500px;
}

/* .mySlide{
    display: none;
} */

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 8.5s;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }